{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-12">
        <form action="{{ path('homepage') }}" method="GET">
            <div class="form-group">
                <label for="category">Categorie</label>
                <select name="category" id="category">
                    <option value=""></option>
                    {% for category in categories %}
                        <option value="{{ category.title }}"
                            {% if app.request.get('category') == category.title %}
                                selected
                            {% endif %}
                        >{{ category.title }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="search">Recherche</label>
                <input type="text" value="{{ app.request.get('search') }}" name="search" id="search">
            </div>
            <input type="submit">
        </form>
        {% for post in posts %}
            <article>
                <h2>{{ post.title }}</h2>
                {% for image in post.uploads %}
                    <img src="{{ asset(image.path) }}" alt="{{ image.alt }}" width="200px">
                {% endfor %}
                <p>{{ post.content }}</p>
                <a href="{{ path('article_display', {slug: post.slug}) }}">Voir +</a>
            </article>
        {% endfor %}
    </div>
    {% include ':commun:_pagination.html.twig' %}
{% endblock %}
